<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">

  <!-- Facebook open graph -->
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{ site.basedomain }}" />
  <meta property="og:image" content="http://{{ site.basedomain }}/assets/images/og-img.png" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:keywords" content="{{ site.keywords }}" />

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ciudadaniai_i">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="@ciudadaniai_i">
  <meta name="twitter:image" content="{{ site.baseurl_root }}/assets/images/og-img.png">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="canonical" href="{{ site.baseurl_root }}" />
  <link rel="shortcut icon" href="{{ site.baseurl_root }}/assets/images/favicon.ico">

  <!-- Uikit -->
  <!-- css -->
  <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/uikit/css/uikit.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <!-- js -->
  <script src="{{ site.baseurl_root }}/assets/uikit/js/uikit.min.js"></script>
  <script src="{{ site.baseurl_root }}/assets/uikit/js/uikit-icons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}

  <script>
    UIkit.scrollspy(element, options);
    UIkit.scroll(element, options).scrollTo(el);
    UIkit.scroll(element).scrollTo(el);
    UIkit.modal(element, options);
    UIkit.slideshow(element, options);
    UIkit.slider(element).startAutoplay();
  </script>

  <script src="https://my.hellobar.com/69f5f17c5e0f033a187aca9b36216ac420fdf3ca.js" type="text/javascript" charset="utf-8" async="async"></script>

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://giro2020.matomo.cloud/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/giro2020.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->


</head>
