<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 600">
    <nav class="uk-navbar-container animated fadeIn delay-1s">
      <div class="uk-container nav-width">
        <div uk-navbar>
          <div class="uk-navbar-left">
            <a href="https://giro2020.org"><img class="logo-navbar" data-src="../assets/images/logo-navbar.svg" uk-img></a>
          </div>
          <div class="uk-hidden@m uk-navbar-right">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
            <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
                <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <ul class="uk-list">
                      <li><a href="#about" uk-scroll>{% t navbar.item_1 %}</a></li>
                      <li><a href="#program" uk-scroll>{% t navbar.item_2 %}</a></li>
                      <li><a href="#agenda" uk-scroll>{% t navbar.item_3 %}</a></li>
                      <li><a href="#map" uk-scroll>{% t navbar.item_4 %}</a></li>
                      <li><a href="#events" uk-scroll>{% t navbar.item_5 %}</a></li>
                      <li><a href="#contact" uk-scroll>{% t navbar.item_6 %}</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-visible@m nav-width navbar-dark animated fadeIn delay-1s">
        <div class="uk-container uk-text-center uk-flex uk-flex-center">
          <ul class="subnav" style="padding-left: 0; margin-left: -10px;">
            <li class="distributed"><a href="#about" uk-scroll>{% t navbar.item_1 %}</a></li>
            <li class="distributed"><a href="#program" uk-scroll>{% t navbar.item_2 %}</a></li>
            <li class="distributed"><a href="#agenda" uk-scroll>{% t navbar.item_3 %}</a></li>
            <li class="distributed"><a href="#map" uk-scroll>{% t navbar.item_4 %}</a></li>
            <li class="distributed"><a href="#events" uk-scroll>{% t navbar.item_5 %}</a></li>
            <li class="distributed"><a href="#contact" uk-scroll>{% t navbar.item_6 %}</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>
