@charset "utf-8";

// Define defaults for each variable.
$base-font-family: 'Poppins', sans-serif !default;
$title-font-family: 'Arvo', serif !default;
$base-font-size:   0.9rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.9 !default;

$spacing-unit:     30px !default;


// Basic colors
$blue:          #30B6BB;


// Blacks and greys

$black:              #000;
$black-soft:         #263238;
$grey:               #263238;
$grey-soft:          #BEBEBB;
$grey-light:         #BEBEBB;
$grey-light-soft:    #F5F5F4;

// Project colors

$text-color:           $black !default;
$background-color:     white !default;
$project-color-1st-0:  $blue;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "fci/base",
  "fci/media",
  "fci/layout"
;
