/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


/**
 * Headings
 */
h3, h4, h5 {
  font-family: $base-font-family;
  font-weight: 700;
}

h1, h2 {
  font-family: $title-font-family;
  font-weight: 700;
  text-transform: uppercase;
}

h1{
  font-size: 2.2rem;
}

mark{
  background-color: white;
  color: $project-color-1st-0;
  line-height: 2.1;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
 * Links
 */
a {
  color: $project-color-1st-0;
  text-decoration: none;
  &:hover, &:focus{
    color: $project-color-1st-0;
    text-decoration: none;
  }
}

/**
 * Sections
 */
.bg-color-1st-0{
 background: $project-color-1st-0;
}

.bg-black{
 background: $black;
}

.bg-black-soft{
 background: $black-soft;
}

.bg-grey{
 background: $grey;
}

.bg-grey-soft{
 background: $grey-soft;
}

.bg-grey-light{
 background: $grey;
}

.bg-grey-light-soft{
 background: $grey-light-soft;
}

.uk-section{
 padding-top: 150px;
 padding-bottom: 90px;
}

.fix-section{
 padding-top: 150px;
 padding-bottom: 150px !important;
}

.section-no-color{
 a{
   color: $grey;
   &:hover, &:focus{
     color: $grey-soft;
   }
 }
 .uk-description-list>dt{
   color: $black;
 }
}

.section-black{
 background: $black;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: $grey-soft;
   &:hover, &:focus{
     color: white;
   }
 }
 .font-lead{
   color: white;
 }
}

.section-black-soft{
 background: $black-soft;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: $grey-soft;
   &:hover, &:focus{
     color: white;
   }
 }
 .font-lead{
   color: white;
 }
}

.section-grey{
 background: $grey;
 h1, h2, h3, h4, h5, p{
   color: white;
 }
 a{
   color: $grey-soft;
   &:hover, &:focus{
     color: white;
   }
 }
 .font-lead{
   color: white;
 }
}

.section-grey-soft{
 background: $grey-soft;
 h1, h2, h3, h4, h5, p{
   color: $black;
 }
 a{
   color: $grey;
   &:hover, &:focus{
     color: $black;
   }
 }
 .font-lead{
   color: $black;
 }
}

.section-grey-light{
 background: $grey-light;
 h1, h2, h3, h4, h5, p{
   color: $black;
 }
 a{
   color: $grey;
   &:hover, &:focus{
     color: $black;
   }
 }
 .font-lead{
   color: $black;
 }
}

.section-grey-light-soft{
 background: $grey-light-soft;
 h1, h2, h3, h4, h5, p{
   color: $black;
 }
 a{
   color: $blue;
   &:hover, &:focus{
     color: $black;
   }
 }
 .font-lead{
   color: $black;
 }
}

#welcome-page {
 padding: 160px 0 0;
 &.uk-height-viewport{
   min-height: 55vh;
 }
}

#map {
 padding: 10em 0;
 color: white !important;
 &.uk-height-viewport{
   min-height: 75vh;
 }
}

#contact {
 padding: 10em 0;
 color: white !important;
 &.uk-height-viewport{
   min-height: 75vh;
 }
}

/**
 * Buttons
 */
.uk-button{
 font-family: $base-font-family;
 text-transform: uppercase;
 font-weight: 600;
 background: transparent;
 letter-spacing: 2px;
 border-radius: 6px;
}

.button-white, a.button-white{
 color: white;
 border: 2px solid white;
 &:hover, &:focus{
   color: white;
   background: $project-color-1st-0;
   border: 2px solid $project-color-1st-0;
 }
}

.button-color-1st, a.button-color-1st{
 color: white;
 background: $project-color-1st-0;
 border: 2px solid $project-color-1st-0;
 &:hover, &:focus{
   color: $project-color-1st-0;
   background: transparent;
   border: 2px solid $project-color-1st-0;
 }
}

.button-black, a.button-black{
 color: white;
 background: $black;
 border: 2px solid $black;
 &:hover, &:focus{
   color: $black;
   background: transparent;
   border: 2px solid $black;
 }
}

/**
 * Basic texts
 */
span{
  font-weight: 600;
}

strong{
  font-weight: 600;
}

.uk-label{
  font-weight: 400;
  padding: 3px 7px;
  text-transform: none;
  border-radius: 0;
  font-size: 0.8rem;
  .bg-1{
    background: $project-color-1st-0;
  }
}

.uk-description-list>dt{
    text-transform: none;
    font-weight: 600;
    font-family: $base-font-family;
}

.uk-accordion-title{
  font-size: 1.1rem;
}

.font-600{
  font-weight: 600;
}

.font-sans{
  font-family: $base-font-family;
}

.font-color-1st-0{
  color: $project-color-1st-0 !important;
}

.font-lead{
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 1.2rem;
  margin: -10px 0 20px;
}

.font-small{
  font-size: 0.7rem;
  line-height: 1.8;
}

.font-little-title{
  font-family: $base-font-family;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.font-compressed{
  line-height: 1.6;
}

.uk-breadcrumb{
  font-family: $base-font-family;
}

h1.no-project-color, h2.no-project-color, h3.no-project-color, h4.no-project-color, h5.no-project-color, .font-lead.no-project-color, .uk-description-list>dt.no-project-color{
    color: $black;
  }


.list-angle {
  margin: -10px 0 16px 36px;
  float: left;
  &::before{
    content: url(../assets/images/icon-angle-right.svg);
    position: relative;
    left: -10px;
    margin-left: -24px;
    top: 8px;
  }
}

/**
 * Article
 */
.uk-article-meta{
  font-family: $base-font-family;
}

blockquote{
  font-family: $base-font-family;
}

cite {
  font-size: 0.9rem;
  font-style: normal;
}

/**
 * Images and svgs
 */


 /**
  * Navbar
  */
  img.logo-navbar {
    width: 60%;
}

  nav.uk-navbar-container.uk-navbar-transparent.uk-dark {
      margin-bottom: -150px;
      z-index: 200;
      position: relative;
      background: white;
  }

  .uk-navbar{
    padding: 15px;
    font-size: $base-font-size;
    letter-spacing: 0.0275rem;
  }

  .uk-navbar-container:not(.uk-navbar-transparent) {
    background: white;
    margin-bottom: -80px;
    z-index: 100;
  }

  .uk-navbar-nav>li>a {
      color: $black;
      text-transform: none;
      font-size: $base-font-size;
      font-family: $base-font-family;
      &:hover{
        color: white;
      }
      &:focus{
        color: white;
      }
      &:active{
        color: $black;
      }
  }

  .uk-navbar-nav>li.uk-active>a {
      color: $black;
  }

  .uk-navbar-toggle {
    color: white;
    :hover{
      color: $black;
    }
    :active{
      color: $black;
    }
  }

.navbar-dark{
  background-color: $black !important;
  letter-spacing: 0.0275rem;
  height: 50px;
}

.subnav > li > a{
  color: white;
  position: relative;
  top: 2px;
}

.subnav > li > a:focus,
.subnav > li > a:hover{
  color: white;
}

ul.subnav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

li.distributed {
    color: #fff;
    display: inline-block;
    margin-right: -.25em;
    padding: .8em 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.9em;
}


.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{
  min-height: 40px;
}

/**
 * Hero
 */
.icon-hero>svg{
  width: 4%;
  &:hover, &:focus{
    path{
      fill: $grey-soft;
    }
  }
}

/**
 * Card
 */
.uk-card {
   border-radius: 10px;
}
.uk-card-header {
    padding: 35px 40px;
}
.uk-card-title {
    padding-bottom: 0.5em;
}
.uk-card-body {
    padding: 28px 40px;
}
/**
 * Images
 */
canvas, img, video {
    width: 100%;
}

img.giro-actions{
  width: 75%;
  margin: 2rem 0 1rem;
}
/**
 * Footer
 */
footer {
  background: $black-soft;
  color: white;
  font-size: 0.8rem;
  padding: 50px 0 30px;
  a{
    color: white;
    &:hover, &:focus{
      color: $grey-light-soft;
      text-decoration: none;
    }
  }
}

.list-footer{
  line-height: 1;
  li>a{
    &:hover, &:focus{
      color: $grey-soft;
      text-decoration: none;
    }
  }
}

.logo-footer-50{
  width: 50%;
}

.logo-footer-70{
  width: 70%;
}

svg.icon-footer {
  width: 9%;
  &:hover, &:focus{
    fill: $grey-soft;
  }
}

svg.icon-footer>path {
  &:hover, &:focus{
    fill: $grey-soft;
  }
}

.logo-footer-fci>svg{
    &:hover, &:focus{
      path{
        fill: $grey-soft;
      }
    }
}
