@media only screen and (max-width: 991px) {
  .uk-slider-items:not(.uk-grid) {
    margin-top: 97px;
}
  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1rem;
  }
  h4{
    font-size: 0.9rem;
  }
  h5{
    font-size: 0.8rem;
  }
  body{
    font-size: 0.8rem;
    line-height: 1.7;
  }
  .uk-accordion-title {
    font-size: 1rem;
  }
  /**
   * Sections
   */
  .uk-section{
    padding-top: 110px;
    padding-bottom: 50px;
  }

  .fix-section{
   padding-top: 110px;
   padding-bottom: 110px !important;
  }

  /**
   * Navbar
   */
   img.logo-navbar {
       width: 60%;
       margin: -0.5em 1em 1.5em;
   }

  .uk-navbar {
    padding: 30px 0 0;
  }

  .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle, li.uk-active > a{
    color: $black;
    &:hover{
      color: $project-color-1st-0;
    }
  }

  .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    min-height: 40px;
    margin: -1em 1em 1em;
}

  .uk-offcanvas-bar{
    background: $black;
    font-size: 0.8rem;
    a{
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 0.9em;
      &:hover, &:focus{
        color: $project-color-1st-0;
        text-decoration: none;
      }
    }
    hr{
      border-top-color: $black-soft;
      border-top: 2px solid $black-soft;
    }
    .uk-close{
      color: $black-soft;
      &:hover, &:focus{
        color: $project-color-1st-0;
      }
    }
    .uk-button-default{
      color: $black-soft;
      border: 2px solid $black-soft;
      font-family: $title-font-family;
      text-transform: none;
      &:hover{
        color: $grey-light-soft;
        border-color: $black-soft;
        background: $black-soft;
      }
    }
  }

  .logo-navbar>svg{
    width: 90%;
  }
  /**
   * Hero
   */
  .icon-hero>svg{
      width: 10%;
  }

  /**
   * Sections
   */
  #map {
   padding: 4em 0;
   &.uk-height-viewport{
     min-height: 50vh;
   }
  }

  #contact {
   padding: 4em 0;
   &.uk-height-viewport{
     min-height: 50vh;
   }
  }

  /**
   * Images
   */
  img.giro-actions{
    width: 40%;
    margin: 1rem 0 -1rem;
  }
}
