---
layout: default
---

<div uk-slider="center: true; autoplay: true; pause-on-hover: false;" class="uk-text-center uk-visible@m">
    <ul class="uk-slider-items uk-child-width-1-1 uk-light">
        <li class="uk-transition-toggle" tabindex="0">
            <img src="../assets/images/hero-1-desktop.png" alt="">
            <div class="uk-position-center uk-panel">
              <img data-src="../assets/images/logo-white.svg" class="animated fadeInUp delay-2s fast" uk-img alt="Giro2020" title="Giro2020">
            </div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
          <img src="../assets/images/hero-2-desktop.png" alt="">
            <div class="uk-position-center uk-panel uk-flex uk-flex-center" uk-grid>
              <div class="uk-width-2-3@m">
                <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title-slide-2 %}</h1>
                <h3 class="animated fadeInUp delay-2s fast">{% t home.hero.text-slide-2 %}</h3>
                <a href="#program" class="uk-button button-white" target="_blank" uk-scroll>{% t home.hero.action-slide-2 %}</a>
              </div>
            </div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
          <img src="../assets/images/map-desktop.png" alt="">
          <div class="uk-position-center uk-panel uk-flex uk-flex-center" uk-grid>
            <div class="uk-width-2-3@m">
              <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title-slide-3 %}</h1>
              <h3 class="animated fadeInUp delay-2s fast">{% t home.hero.text-slide-3 %}</h3>
              <a href="https://casafluminense.org.br/mapa-da-desigualdade/" class="uk-button button-white" target="_blank">{% t home.hero.action-slide-3 %}</a>
            </div>
          </div>
        </li>
    </ul>
</div>

<div uk-slider="center: true; autoplay: true; pause-on-hover: false;" class="uk-text-center uk-hidden@m">
    <ul class="uk-slider-items uk-child-width-1-1 uk-light">
        <li class="uk-transition-toggle" tabindex="0">
            <img src="../assets/images/hero-1-mobile.png" alt="">
            <div class="uk-position-center uk-panel uk-width-2-3">
              <img data-src="../assets/images/logo-white.svg" class="animated fadeInUp delay-2s fast" style="width:70%; margin: 1em 0 4em" uk-img alt="Giro2020" title="Giro2020">
            </div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
          <img src="../assets/images/hero-2-mobile.png" alt="">
            <div class="uk-position-center uk-panel">
              <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title-slide-2 %}</h1>
              <h3 class="animated fadeInUp delay-2s fast">{% t home.hero.text-slide-2 %}</h3>
              <a href="#program" class="uk-button button-white" target="_blank" uk-scroll>{% t home.hero.action-slide-2 %}</a>
            </div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
          <img src="../assets/images/map-mobile.png" alt="">
            <div class="uk-position-center uk-panel">
              <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title-slide-3 %}</h1>
              <h3 class="animated fadeInUp delay-2s fast">{% t home.hero.text-slide-3 %}</h3>
              <a href="https://casafluminense.org.br/mapa-da-desigualdade/" class="uk-button button-white" target="_blank">{% t home.hero.action-slide-3 %}</a>
            </div>
        </li>
    </ul>
</div>

{{ content }}
